@import "tailwindcss";

:root {
  --color-background: #ffffff;
  --color-foreground: #000000;
}

.dark {
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
}

html {
  background-color: var(--color-background);
  color: var(--color-foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}